:root {
  --primary-color: #4635b1; /* Judul, nama */
  --second-color: #b771e5; /* Tombol & hover */
  --third-color: #aeea94; /* CTA / Aksi kuat */
  --fourth-color: #fffbca; /* Footer / background soft */
}
